/* You can add global styles to this file, and also import other style files */
html {
  background-color: #1e1e1e;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  overflow-x: hidden;

  body, #root {
    margin: 0;
    height: 100%;
  }
}
